---
# roles/base/handlers/main.yml

- name: restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
